<html>
    <head>
        <title>Not Found</title>
        <link rel="stylesheet" href="/styles.css">
        <script src="https://kit.fontawesome.com/a5c4f7a4d5.js" crossorigin="anonymous"></script> <!-- Font awesome for icons-->
    </head>
    <body>
        <!-- Include the navbar component passing the locals.links added on the app.js -->
        <header>
            <%- include('navbar', {links: links}) %>
        </header>
        <div class="content">
            <h1>404 - Page not found</h1>
            <h2>Back to <a href="<%= links[0].href %>"><%= links[0].text %></a></h2>
        </div>
        <%- include('footer', {link: link}) %>
    </body>
</html>